body {
    background-color: #DCDCDC;
}
.text-display {
    flex: 1 1 0;
    margin-top: 100px;
    margin-left: 50px;
    color: #708090;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;


} 
.title {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: bolder;
}
.dropdown-list{
    width: 40%;
    border-radius: 100%;
}
.graph-display {
    flex: 3 1 0;
    margin-top: 100px;
}

.app {
    display: flex;
    justify-content: center;
}

#year_chosen {
    margin-left: 30px;
    margin-right: 30px;
}

.rc-slider {
    background-color: white;
    border: 30px;
}

.rc-slider-handle {
    background-color:#DCDCDC;
    border: #DCDCDC;
}

.rc-slider-track {
    background-color: Black;
}

.rc-slider-dot-active {
    border-color: Black;
}

.footer {
    padding-top: 70px;
    display: block;
    text-align: end;
    font-size: 12px;
    color: #DCDCDC;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}